/*
Css file for Admin Page
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

:root{
    --main-color: #379683;
    --black: #13131a;
    --bg: #659dbd;
    --border: .1rem solid rgba(5, 56, 107, 0.3);
}


*{
    font-family: 'Playfair' 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background-color: var(--bg);
}

.text-center{
    text-align: center;
}

.container{
    width: 80%;
    background-color: var(--main-color);
    border: var(--border);
    margin: 0 auto;
    padding: 3rem;
}

.header{
    background-color: #fc4445;
}

.header .navbar{
    width: 100%;
}
