/*
Css file for Admin Page
Version : 1.2
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Playfair Display";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background-color: #E6E6E6;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  border: 0.1px solid black;
  border-radius: 5px;
  padding: 1%;
  width: 100%;
}

.text-center {
  text-align: center;
}

.clearfix{
  float: none;
  clear: both;
}

.display{
  padding-left: 5.8rem;
}

/* CSS for Menu */
.links {
  display: flex;
  font-weight: bold;
  font-size: 1.15rem;
  padding: 1.8rem;
  margin: 0 10%;
  justify-content: space-evenly;
  text-transform: capitalize;
}

.links a {
  color: #0e0b16;
}

.links a:hover {
  border-bottom: 0.5px solid #fc4a1a;
}

.m-bg {
  background-color: #caebf2;
}

/* CSS for main-content */
.main-content {
  margin: 0.35% 0;
  padding: 3% 0;
}

.main-content h2,h1, h3 {
  text-transform: capitalize;
  padding-left: 5.8rem;
}

.main-content .box-container{
  width: 80%;
  margin: 0 auto;
}

.col-4{
  border: 0.5px solid black;
  width: 23%;
  background-color: antiquewhite;
  float: left;
  margin: 1%;
  padding: 1%;
}

.mc-bg {
  background-color: #FEF1E6;
}

/* CSS for footer */
.f-bg {
  background-color: #4abdac;
  font-weight: bold;
}


/* CSS for tables [to display records in each admin-page] */

.main-content table{
  width: 80%;
  font-size: 90%;
  margin: 0 auto;
  border: 1px solid black;
  font-weight: 600;
}

.main-content table tr th{
  font-size: 1.07rem;
  padding: 1%;
  text-align: left;
  border-bottom: 1px solid black;
}

.main-content table tr td{
  padding: 1%;
}

/* 
CSS for Action Buttons 
btn-primary - blue
btn-secondary - green
btn-danger - red
*/

.btn-container{
  padding: 1%;
  width: 80%;
  margin: 1% auto;
}

.btn-primary{
  background-color: #3D2C8D;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 0.001px solid black;
  border-radius: 3px;
}

.btn-primary:hover{
  background-color: #1C0C5B;
}
.btn-secondary{
  background-color: #6166B3;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 0.001px solid black;
  border-radius: 3px;
}

.btn-secondary:hover{
  background-color: #544179;
}
.btn-danger{
  background-color: #ff4b1edc;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 0.001px solid black;
  border-radius: 3px;
}

.btn-danger:hover{
  background-color: #e92222;
}

/* CSS for adding admin form */

#manage-form{
  text-transform: none;
}

.main-content form table {
  width: 60%;
  margin: 0 auto;
  margin-top: 3%;
  border: 1px solid black;
  background-color: #B1E693;
  padding: 1%;
}


/* CSS for order table */

#tb-order{
  font-size: small;
}