* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  height: 100%;
  background-color: #ccc;
}

header {
  display: flex;
  margin-bottom: 2rem;
  padding: 3rem 10%;
  place-items: center;
  background-color: #2b7c85;
}

header > * {
  flex: 1 1 100%;
}

header h1 {
  position: sticky;
  font-family: Sunflower;
  line-height: 90px;
  font-size: 5rem;
  color: #ffffff;
}

.menu-buttons {
  width: 100%;
  text-align: left;
  border: 2px;
  display: flex;
  gap: 3rem;
  flex-direction: row-reverse;
}

.btn-menu {
  cursor: pointer;
  font-size: 2rem;
  padding: 0 1rem;
  align-items: center;
  font-family: Sunflower;
  place-items: center;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  transition: transform 500ms ease;
}

.btn-menu:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.shop-menu {
  padding: 0 10% 2rem 10%;
  background: #ffffff;
  border-top-left-radius: 7rem;
  border-top-right-radius: 7rem;
  border: 2px;
  margin-top: 20px;
}

.menu-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  border-bottom: 2px solid black;
  margin: 2rem;
}

.menu-bar li a {
  color: black;
  font-size: 1.8rem;
  text-align: center;
  padding: 3px 1px;
  text-decoration: none;
}

.menu-bar li a:hover {
  border-bottom: 1px solid teal;
}

.menu-bar li .active {
  font-weight: 800;
}

.menu .box-container .box a{
    width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(90, 88, 88, 50);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: teal;
}
