*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 62.5%;
  }

body{
    position: sticky;
    height: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/Nursery.jpg");
    background-color: rgba(65, 65, 65, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    place-items: center; 
}


/* .bg-image{
    background-image: url("img/Nursery.jpg");
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .box{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: rgb(115, 115, 115, 0.50);
    border: 0.900125px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 3.6005px 3.6005px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.6005px);
    border-radius: 18.0025px;
    
}
*/
.form{
    height: 100%;
    width: 100%;
    padding-top: 10%;
}

.form form{
    background:rgba(245, 245, 245, 0.5);
    width: 40%;
    margin: 0 auto;
    border: 2px solid teal;
    border-radius: 5px;
    padding: 2%;
}

.form form h3{
    font-size: 3rem;
}

.SignUp, .Go{
    text-align: center;
}


form input{
    width : 25rem;
    background: #eee;
    border-color: teal;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

#submit{
    cursor: pointer;
    width: max-content;
    font-size: 2rem;
    padding: 0 2rem;
}

#submit:hover{
    background-color: teal;
}

::placeholder{
    font-family: 'Sunflower', sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

.login{
    font-family: 'Sunflower';
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
}
a:link {
    color: #FFFFFF;
    opacity: 0.9;
  }

  a:visited {
    font-family: 'Sunflower';
    color: black;
    opacity: 0.9;
  }
  a:hover {
    font-family: 'Sunflower';
    color: whitesmoke;
    opacity: 0.9;
  }
  .cross{
    text-align: right;
}

.x{
    border-radius: 40px;
    opacity: 0.4;
    width: 30px;
    height: 30px;
} 